services:
  db:
    image: postgres:15-alpine
    container_name: desafio_vlab_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    
  api:
    build: .
    container_name: desafio_vlab_api
    depends_on:
      - db
    volumes:
      - .:/app
    command: python -c "print('API container is running')"

volumes:
  db_data:
